.centerHeader{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700
}

p{
font-family: 'Playfair Display', serif;
}
/* docs: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.container{
    display: flex; /* defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children. */
    flex-direction: row; /* The direction flex items are placed in the flex container */
    flex-wrap: wrap; /* flex items will wrap onto multiple lines, from top to bottom. */
    justify-content: space-evenly; /* items are distributed so that the spacing between any two items (and the space to the edges) is equal.*/
    align-items: center; /* The justify content version for the cross axis. */
    padding: 2;
    margin-top: 25px;
    margin-bottom: 25px;


    /* This property only takes effect on multi-line flexible containers, where flex-flow is set to either wrap or wrap-reverse) */
    /* align-content: flex-start;   */
}

.doors{
    flex-grow: 1; 
    display: flex; /* defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children. */
    flex-direction: row; /* The direction flex items are placed in the flex container */
    flex-wrap: wrap; /* flex items will wrap onto multiple lines, from top to bottom. */
    justify-content: center; /* items are distributed so that the spacing between any two items (and the space to the edges) is equal.*/
    align-items: center; /* The justify content version for the cross axis. */
}

.graph{
    flex-grow: 1; 
    display: flex; /* defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children. */
    flex-direction: row; /* The direction flex items are placed in the flex container */
    flex-wrap: wrap; /* flex items will wrap onto multiple lines, from top to bottom. */
    justify-content: space-evenly; /* items are distributed so that the spacing between any two items (and the space to the edges) is equal.*/
    align-items: center; /* The justify content version for the cross axis. */
}

.door{
   height: 350px;
   width: 175px
}

/* #imageSize{
    height: 350;
    width: 300;
} */


.door:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
 -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}


html {
    font-family: sans-serif;
  }
  
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
th {
    background-color: rgb(235,235,235);
  }
  
td {
    text-align: center;
  }
  
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
caption {
    padding: 10px;
  }

.headerImage{
   height: 150px;
   width: 250px;
   display: block; 
   margin-left: auto;
   margin-right: auto;
  }


body{
      background-color: #EDE8E4;
  }

.leftSideContainer{
    display: flex; /* defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children. */
  }

.left-half {
    background-color: #83CEEC;
    flex: 1;
    padding: 1rem;
  }

.right-half {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006BBD;
    flex: 1;
    padding: 1rem;
  }

.hundred-door-half{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #006BBD;
    flex: 1;
    padding: 1rem;
  }


.centerImage{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .diagram{
    display: flex;
    justify-content: center;
    align-content: center;
  }

.instructions{
  padding: auto;
  margin: auto;
  width: 50%;
  text-align: center;
  border: 3px solid black;
  background-color: #C2AFA8;
}

#reset{
  margin:5px;
}

@media (max-width: 1200px) {
  
}